<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.submission.moviecatalogsubmission5made">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="com.submission.moviecatalogsubmission5made.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.submission.moviecatalogsubmission5made.WRITE_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.submission.moviecatalogsubmission5made.tvshow.READ_DATABASE_TV"
        android:protectionLevel="normal" />
    <permission
        android:name="com.submission.moviecatalogsubmission5made.tvshow.WRITE_DATABASE_TV"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.SettingActivity" />
        <activity android:name=".details.DetailTvShowActivity"
            android:label="@string/detail" />
        <activity android:name=".details.DetailMovieActivity"
            android:label="@string/detail" />

        <provider
            android:name=".provider.MovieProvider"
            android:authorities="com.submission.moviecatalogsubmission5made"
            android:exported="true"
            android:readPermission="com.submission.moviecatalogsubmission5made.READ_DATABASE"
            android:writePermission="com.submission.moviecatalogsubmission5made.WRITE_DATABASE" />

        <provider
            android:name=".provider.TvShowProfider"
            android:authorities="com.submission.moviecatalogsubmission5made.tvshow"
            android:exported="true"
            android:readPermission="com.submission.moviecatalogsubmission5made.tvshow.READ_DATABASE_TV"
            android:writePermission="com.submission.moviecatalogsubmission5made.tvshow.WRITE_DATABASE_TV" />

        <receiver android:name=".widget.ImageBannerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <receiver android:name=".notification.DailyReminderReceiver" />
        <receiver android:name=".notification.ReleaseTodayReminderReceiver" />

        <service
            android:name=".widget.StackWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
